* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Nunito;
    background-color: #E53935;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    overflow-x: hidden; 
}

.container {
    background-color:  #FFF8E1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    max-width: 90vw; 
    text-align: center;
    overflow: hidden;
}



.subtitle {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky
}

.titleSup {
    font-size: 18px;
    font-weight: bold;
    scroll-margin-right: 10px;
}

.titlePrincipal {
    text-align: center;
    color: 	#4E342E;
    font-weight: bold;
    font-family: "Luckiest Guy", cursive;
    font-size: 10vw;
    
}

.display-numeros{
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
}

.display-numeros h2{
    margin-bottom: 5px;
    font-size: 20px;
    color: #4E342E;
}

#gridNumeros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc; 
}

#gridNumeros::-webkit-scrollbar {
    width: 6px;
}
#gridNumeros::-webkit-scrollbar-thumb {
    background-color: #E53935;
    border-radius: 10px;
}

#numerosSelecionados {
    margin-top: 20px;
}

#valorTotal {
    font-weight: 700;
    color: rgb(235, 62, 62);
    font-size: 22px;
}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.disponivel {
    background-color: #FDD835;
    color: rgb(81, 74, 74);
}

button.selecionado {
    background-color: #b0920d;
    color: rgb(81, 74, 74);
}

button.indisponivel {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}z

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90vw; 
    margin-bottom: 20px;
}

.display-pagamento {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90vw; 
}

form h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #4E342E;
}

.display-pagamento h2{
    margin-bottom: 15px;
    font-size: 20px;
    color: #4E342E;
}

.form-group {
    margin-bottom: 15px;
}

.avisoPagamento {
    margin-top: 15px;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4E342E;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f7fb; 
}


input[type="text"]:focus,
input[type="tel"]:focus {
    border-color: #4E342E; /* Azul claro ao focar */
}

.confirmButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #43A047;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fixo na tela */
    z-index: 1; /* Fica em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Permite rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    color: #4E342E;
    width: 80%; /* Largura */
    max-width: 500px; /* Largura máxima */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-actions {
    display: flex; /* Usar flexbox para o layout */
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    margin-top: 20px; /* Espaçamento acima do botão */
}

#confirmarModal {
    padding: 10px 20px; 
    background-color: #43A047;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

#modalMessage {
    white-space: pre-line; /* Ou use pre-wrap se precisar de quebra de linha com espaços */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}